footer img.cc {
    display: inline-block;
    vertical-align: -0.2em;
    border: none;
    width: 1em;
    height: 1em;
    opacity: 0.4;
}

.contact {
  width: 3.5em;
  height: 3.5em;
  padding: 0.5em;
}

footer {
   position: absolute;
   text-align: center;
   bottom: 0;
   width: 100%;
}

.posts {
  line-height: 2em;
}

.posts-code {
  color: black;
  font-family: Consolas,monaco,monospace;
  padding: 1em;
  background-color: #f7f7f7;
  border-radius: 1em;
  border-color: black;
}
